/* 
	===============
	=== PROJECT ===
	===============
*/
@import 'normalize.css';
/* FONTS */
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-r-webfont.eot"), url("../fonts/ubuntu-r-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ubuntu-r-webfont.svg") format('svg'), url("../fonts/ubuntu-r-webfont.woff") format('woff'), url("../fonts/ubuntu-r-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* STYLES FOR ALL */
textarea:focus,
input:focus {
  outline: none;
}
ul {
  list-style-type: none;
}
/* CLASS - HELPERS */
.hide {
  visibility: hidden;
}
.none {
  display: none;
}
.clearfix {
  clear: both;
}
.row {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  clear: both;
  width: 100%;
}
.pull-left {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.pull-right {
  float: right;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* BUTTONS */
/* Для ссылок */
.btn-1 {
  font-size: 18px;
  font-family: "Ubuntu", helvetica, verdana, arial, tahoma;
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #ee2e24;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-1:hover {
  background: #ccc;
}
.btn-1 span {
  position: relative;
  top: 15px;
}
/* Для buttons */
.btn-2 {
  font-size: 18px;
  font-family: "Ubuntu", helvetica, verdana, arial, tahoma;
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #ee2e24;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-2:hover {
  background: #ccc;
}
/* STYLES - MAIN */
html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
/* Самый задний фон */
  background-color: #0a1018;
}
/* Фон с изображением */
body > main {
  position: relative;
  min-height: 100%;
  width: 100%;
  background: url("../img/bg.jpg") no-repeat;
  background-repeat: repeat-x;
}
/* HEADER */
body > main > header {
  z-index: 2;
  width: 100%;
  height: 40px;
  background: #736b68;
}
body > main > header.fixed {
  position: fixed;
  top: 0;
}
body > main > header .container {
  width: 1265px;
  height: 16px;
  padding: 12px 0;
  margin: 0 auto;
  background: #c1b0a3;
}
body > main > header .container .content {
  padding: 0 5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 1255px;
}
body > main > header .container .content nav#menu {
  float: right;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
}
body > main > header .container .content nav#menu a {
  text-decoration: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  color: #fff;
}
body > main > header .container .content nav#menu ul {
  float: left;
  padding: 0;
}
body > main > header .container .content nav#menu ul li {
  float: left;
  margin: 0 0 0 50px;
}
body > main > header .container .content .logo {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* FOOTER */
body > main > footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 40px;
  background: #736b68;
}
body > main > footer.fixed {
  position: fixed;
  bottom: 0;
}
body > main > footer .container {
  width: 1265px;
  height: 16px;
  padding: 12px 0;
  margin: 0 auto;
  background: #c1b0a3;
}
body > main > footer .container .content {
  padding: 0 5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* SECTIONS */
body > main > .sections {
  clear: both;
  width: 100%;
  padding-bottom: 40px;
}
body > main > .sections > section {
  clear: both;
  position: relative;
  z-index: 1;
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
body > main > .sections > section .container {
  position: relative;
  width: 1265px;
  height: 100%;
  margin: 0 auto;
  background: #f2e5d5;
}
body > main > .sections > section .container .content {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* -------------------- Let's go -------------------- */
section#index .container .content {
  padding: 50px 5px;
  width: 1255px;
}
section#index .container .content p {
  margin: 10px 0;
}
section#test-render .content {
  height: 130px;
  width: 100%;
}
section#test-render .content h1 {
  padding: 50px 0;
  text-align: center;
}
/* -------------------- MEDIA -------------------- */
@media (max-height: 768px) {
  #debugBox .mediaHeight:after {
    content: '@media(max-height: 768px)';
  }
}
