#gallery-preloader {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 0;
  width: 256px;
  height: 24px;
  margin: 0 0 0 -128px;
  background: url("../img/gallery/preloader.gif") no-repeat center center;
}
#gallery {
  position: relative;
  overflow: hidden;
  padding: 0;
}
#gallery .wrapper {
  margin: 0 auto;
}
#gallery .wrapper .items {
  background: #ccc;
  position: absolute;
}
#gallery .wrapper .items .item {
  float: left;
  -webkit-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -ms-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: #808080;
  -moz-filter: #808080;
  -ms-filter: #808080;
  -o-filter: #808080;
  filter: #808080;
  -webkit-filter: grayscale(100%) brightness(40%) contrast(90%);
  -moz-filter: grayscale(100%) brightness(40%) contrast(90%);
  -ms-filter: grayscale(100%) brightness(40%) contrast(90%);
  -o-filter: grayscale(100%) brightness(40%) contrast(90%);
  filter: grayscale(100%) brightness(40%) contrast(90%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
#gallery .wrapper .items .item.prev,
#gallery .wrapper .items .item.next {
  z-index: 1;
}
#gallery .wrapper .items .item.current {
  z-index: 2;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
#gallery .wrapper .items .item img {
  outline: none;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
}
#gallery .wrapper.speed .item img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
}
#gallery-prev,
#gallery-next,
#gallery-pagination,
#gallery-thumbs-prev,
#gallery-thumbs-next {
  float: left;
  margin: 0 10px;
}
#gallery-prev a,
#gallery-next a,
#gallery-pagination a,
#gallery-thumbs-prev a,
#gallery-thumbs-next a {
  float: left;
  margin: 0 10px 0 0;
}
#gallery-thumbs {
  clear: both;
  overflow: hidden;
  background: #424040;
  margin: 0;
  padding: 0;
}
#gallery-thumbs .items {
  position: relative;
  margin: 0 auto;
}
#gallery-thumbs .items .item {
  float: left;
  -webkit-filter: grayscale(100%) brightness(40%) contrast(90%);
  -moz-filter: grayscale(100%) brightness(40%) contrast(90%);
  -ms-filter: grayscale(100%) brightness(40%) contrast(90%);
  -o-filter: grayscale(100%) brightness(40%) contrast(90%);
  filter: grayscale(100%) brightness(40%) contrast(90%);
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#gallery-thumbs .items .item.current,
#gallery-thumbs .items .item:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
.controls {
  width: 510px;
  margin: 0 auto;
}
