/* MIXins */
/* FONTS */
/* MAIN CONSTANTS */
/* MAIN STYLES */
textarea,
input {
  font-family: 'Arial';
  font-size: 20px;
}
/* HELPERS STYLES */
.hide {
  display: none;
}
.btn {
  cursor: pointer;
  font: 20px 'Arial';
  text-transform: uppercase;
  padding: 5px 10px;
  border: 0;
  outline: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-red {
  background: #ee2e24;
}
.btn.btn-red:hover {
  background: #db2920;
}
/* STYLES */
html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Arial';
/* Самый задний фон */
  background-color: #0a1018;
}
/* Фон с изображением */
body > main {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat-x;
}
/* HEADER */
body > main > header {
  z-index: 3;
  width: 100%;
  height: 40px;
  background: #736b68;
}
body > main > header.fixed {
  position: fixed;
  top: 0;
}
body > main > header .container {
  width: 1265px;
  height: 16px;
  padding: 12px 0;
  margin: 0 auto;
  background: #c1b0a3;
}
body > main > header .container .content {
  padding: 0 5px;
}
body > main > header nav#menu {
  text-transform: uppercase;
  font-weight: bold;
  float: none;
}
body > main > header nav#menu a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff;
}
body > main > header nav#menu ul {
  list-style-type: none;
  float: left;
  padding: 0;
}
body > main > header nav#menu ul li {
  float: left;
  margin: 0 50px 0 0;
}
body > main > header nav#menu ul li:last-child {
  margin: 0;
}
/* FOOTER */
body > main > footer {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 40px;
  background: #736b68;
}
body > main > footer.fixed {
  position: fixed;
  bottom: 0;
}
body > main > footer .container {
  width: 1265px;
  height: 16px;
  padding: 12px 0;
  margin: 0 auto;
  background: #c1b0a3;
}
body > main > footer .container .content {
  padding: 0 5px;
}
body > main > footer .container .content h1 {
  font-weight: bold;
  color: #fff;
}
/* CONTENT */
body > main > .sections {
  clear: both;
  width: 100%;
  padding-bottom: 40px;
/* Height of the footer */
/* Для всех секций! */
}
body > main > .sections > section {
  clear: both;
  position: relative;
  z-index: 3;
  width: 100%;
  display: inline-block;
}
body > main > .sections > section .container {
  position: relative;
  width: 1265px;
  height: 100%;
  margin: 0 auto;
  background: #f2e5d5;
}
body > main > .sections > section .container .content {
  padding: 10px 5px;
}
body > main > .sections > section .container .content h1 {
  font-size: 24px;
  color: #736b68;
}
body > main > .sections > section .container .content p {
  margin: 5px 0;
  color: #736b68;
}
body > main > .sections section#index .container {
  min-height: 450px;
}
/* MEDIA */
@media (max-height: 768px) {
  #debugBox .mediaHeight:after {
    content: '@media(max-height: 768px)';
  }
}
