/* 
	===============
	=== PROJECT ===
	===============
*/
/* RESET STYLES */
@import 'normalize.css';
/* FONTS */
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu-r-webfont.eot?#iefix") format('embedded-opentype');
  src: url("../fonts/ubuntu-r-webfont.svg") format('svg');
  src: url("../fonts/ubuntu-r-webfont.woff") format('woff');
  src: url("../fonts/ubuntu-r-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* STYLES FOR ALL */
p {
  margin: 5px 0;
}
textarea,
input {
  font-family: 'Ubuntu';
  font-size: 20px;
}
/* STYLES - HELPERS */
.hide {
  display: none;
}
.clearfix {
  clear: both;
}
/* BUTTONS */
.btn {
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-decoration: none;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  font: 11px 'Ubuntu';
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  background-color: #ff7200;
  background-image: -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(0%, #ff7200), color-stop(100%, #ff872b));
  background-image: -webkit-linear-gradient(bottom, #ff7200 0%, #ff872b 100%);
  background-image: -moz-linear-gradient(bottom, #ff7200 0%, #ff872b 100%);
  background-image: -ms-linear-gradient(bottom, #ff7200 0%, #ff872b 100%);
  background-image: -o-linear-gradient(bottom, #ff7200 0%, #ff872b 100%);
  background-image: linear-gradient(bottom, #ff7200 0%, #ff872b 100%);
  color: #fff;
  font-size: 24px;
}
.btn:hover {
  background-color: #ff7200;
  background-image: -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(0%, #ff7200), color-stop(100%, #ff872b));
  background-image: -webkit-linear-gradient(top, #ff7200 0%, #ff872b 100%);
  background-image: -moz-linear-gradient(top, #ff7200 0%, #ff872b 100%);
  background-image: -ms-linear-gradient(top, #ff7200 0%, #ff872b 100%);
  background-image: -o-linear-gradient(top, #ff7200 0%, #ff872b 100%);
  background-image: linear-gradient(top, #ff7200 0%, #ff872b 100%);
}
/* STYLES - MAIN */
html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Ubuntu';
/* Самый задний фон */
  background-color: #0a1018;
}
/* Фон с изображением */
body > main {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat-x;
}
/* HEADER */
body > main > header {
  z-index: 2;
  width: 100%;
  height: 40px;
  background: #736b68;
}
body > main > header.fixed {
  position: fixed;
  top: 0;
}
body > main > header .container {
  width: 1265px;
  height: 16px;
  padding: 12px 0;
  margin: 0 auto;
  background: #c1b0a3;
}
body > main > header .container .content {
  padding: 0 5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 1255px;
}
body > main > header .container .content nav#menu {
  float: right;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
}
body > main > header .container .content nav#menu a {
  text-decoration: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  color: #fff;
}
body > main > header .container .content nav#menu ul {
  list-style-type: none;
  float: left;
  padding: 0;
}
body > main > header .container .content nav#menu ul li {
  float: left;
  margin: 0 50px 0 0;
}
body > main > header .container .content nav#menu ul li:last-child {
  margin: 0;
}
body > main > header .container .content .logo {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-top: -6px;
}
/* FOOTER */
body > main > footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 40px;
  background: #736b68;
}
body > main > footer.fixed {
  position: fixed;
  bottom: 0;
}
body > main > footer .container {
  width: 1265px;
  height: 26px;
  padding: 7px 0;
  margin: 0 auto;
  background: #c1b0a3;
}
body > main > footer .container .content {
  padding: 0 5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* SECTIONS */
body > main > .sections {
  clear: both;
  width: 100%;
  padding-bottom: 40px;
}
body > main > .sections > section {
  clear: both;
  position: relative;
  z-index: 1;
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
body > main > .sections > section .container {
  position: relative;
  width: 1265px;
  height: 100%;
  margin: 0 auto;
  background: #f2e5d5;
}
body > main > .sections > section .container .content {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* -------------------- Let's go -------------------- */
section#index .container .content {
  padding: 50px 5px;
  width: 1255px;
}
section#test-render .content {
  display: block;
  width: auto px;
  height: 130px;
  border: 1px solid #c1b0a3;
}
section#test-render .content h1 {
  padding: 50px 0;
}
section#grid-2 .content,
section#grid-3 .content,
section#grid-6 .content,
section#grid-12 .content {
  padding: 10px 5px;
  overflow: hidden;
  width: 1255px;
}
section#grid-2 .content .articles,
section#grid-3 .content .articles,
section#grid-6 .content .articles,
section#grid-12 .content .articles {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 1262px;
}
section#grid-2 .content .articles article,
section#grid-3 .content .articles article,
section#grid-6 .content .articles article,
section#grid-12 .content .articles article {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  margin-top: 5px;
  height: 150px;
  background: #ccc;
  margin-right: 7px;
  width: 624px;
}
section#grid-3 .content {
  width: 1255px;
}
section#grid-3 .content .articles {
  width: 1262px;
}
section#grid-3 .content .articles article {
  margin-right: 7px;
  width: 413.6666666666667px;
}
section#grid-6 .content {
  width: 1255px;
}
section#grid-6 .content .articles {
  width: 1262px;
}
section#grid-6 .content .articles article {
  margin-right: 7px;
  width: 203.33333333333334px;
}
section#grid-12 .content {
  width: 1255px;
}
section#grid-12 .content .articles {
  width: 1262px;
}
section#grid-12 .content .articles article {
  margin-right: 7px;
  width: 98.16666666666667px;
}
/* -------------------- MEDIA -------------------- */
@media (max-height: 768px) {
  #debugBox .mediaHeight:after {
    content: '@media(max-height: 768px)';
  }
}
