#popup{visibility:hidden;position:absolute;left:-100000px;top:-100000px;z-index:100000;font-size:16px;}
#popup .popup_close{cursor:pointer;position:absolute;right:-36px;top:-33px;width:56px;height:52px;background-repeat:no-repeat;background-position:left 0;text-decoration:none !important;z-index:98}
#popup .pop{background-color:#fff;border:10px solid #e2e2e2}
#popup #popup_custom{text-align:center;min-height:274px;width:705px;}
#popup #popup_custom .header{padding:30px 0 50px 0;}
#popup #popup_custom .header h1{text-transform:uppercase;text-align:center;font-size:30px;color:#60c155;letter-spacing:4px}
#popup #popup_custom .body{font:24px CompProLight;color:#333;padding:0 90px}
#popup #popup_custom .footer{padding:50px 0 30px 0;}
#popup #popup_custom .footer input{clear:both;width:276px;height:50px;padding:14px;text-align:center;background:#cf8466;color:#fff;text-transform:uppercase;letter-spacing:4px;border:0;font:24px CompProRegular;cursor:pointer}
#popup #popup_login{text-align:center;height:326px;width:466px;}
#popup #popup_login h1{text-transform:uppercase;text-align:center;font-size:30px;color:#60c155;padding:20px 0 70px 0;letter-spacing:4px}
#popup #popup_login p{font:24px CompProLight;color:#333;padding:0 0 18px 0}
#popup #popup_login a{margin-right:11px;}
#popup #popup_login a:last-child{margin-right:0}
#popup #popup_login a:hover{opacity:.7}
#backgroundPopup{display:none;position:fixed;height:100%;width:100%;top:0;left:0;background:#000;z-index:99999}
