/* 
	===============
	=== PROJECT ===
	===============
*/
/* _________ IMPORT ________*/
@import 'normalize.css';
/*_________ GUIDELINE _______*/
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu-r-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ubuntu-r-webfont.svg") format('svg'), url("../fonts/ubuntu-r-webfont.woff") format('woff'), url("../fonts/ubuntu-r-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.g-clearfix {
  clear: both;
}
.g-hide {
  display: none;
}
.g-hidden {
  visibility: hidden;
}
.g-block-inline {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.g-block-left {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.g-block-right {
  float: right;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.g-bg-color-graydarker {
  background-color: #222;
}
.g-bg-color-graydark {
  background-color: #333;
}
.g-bg-color-gray {
  background-color: #555;
}
.g-bg-color-graylight {
  background-color: #999;
}
.g-bg-color-graylighter {
  background-color: #a9a9a9;
}
.g-color-graydarker {
  color: #222;
}
.g-color-graydark {
  color: #333;
}
.g-color-gray {
  color: #555;
}
.g-color-graylight {
  color: #999;
}
.g-color-graylighter {
  color: #a9a9a9;
}
p {
  font-size: 16px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
h1 {
  font-size: 36px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
h2 {
  font-size: 30px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
h3 {
  font-size: 24px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
h4 {
  font-size: 18px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
h5 {
  font-size: 14px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
h6 {
  font-size: 12px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.g-link-1 {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #333;
}
.g-link-1:hover {
  border-bottom: 1px solid #333;
}
.g-link-2 {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #333;
  border-bottom: 1px solid #333;
}
.g-link-2:hover {
  border-bottom: 0;
}
.g-btn-1 {
  font-size: 18px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #555;
}
.g-btn-1:hover {
  background: #999;
}
.g-btn-1 span {
  position: relative;
  top: 15px;
}
.g-btn-2,
#popups .popup[data-popup-name="custom"] .footer button,
#popups .popup[data-popup-name="unique"] .footer button {
  font-size: 18px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #333;
}
.g-btn-2:hover,
#popups .popup[data-popup-name="custom"] .footer button:hover,
#popups .popup[data-popup-name="unique"] .footer button:hover {
  background: #999;
}
.g-btn-2 span,
#popups .popup[data-popup-name="custom"] .footer button span,
#popups .popup[data-popup-name="unique"] .footer button span {
  position: relative;
  top: 15px;
}
.g-btn-3 {
  font-size: 18px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
  width: 350px;
  height: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #222;
}
.g-btn-3:hover {
  background: #999;
}
.g-btn-3 span {
  position: relative;
  top: 15px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.g-input-1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  width: 278px;
  height: 23px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
.g-input-1:focus {
  border: 1px solid #555;
}
.g-input-1.error-field {
  border: 1px solid #f00;
}
.g-textarea-1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  width: 278px;
  height: 78px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
.g-textarea-1:focus {
  border: 1px solid #555;
}
.g-textarea-1.error-field {
  border: 1px solid #f00;
}
.g-select-1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  font-size: 16px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
.g-select-1:focus {
  border: 1px solid #555;
}
.g-select-1.error-field {
  border: 1px solid #f00;
}
.g-checkbox-1 {
  width: 25px;
  height: 25px;
}
.g-radio-1 {
  width: 25px;
  height: 25px;
}
/*_________ MAIN __________*/
html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
  background-color: #222;
}
body > main {
  position: relative;
  min-height: 100%;
  width: 100%;
  background: url("../img/bg.jpg") repeat-y center center;
}
/*_________ HEADER ___________*/
body > main > header {
  z-index: 2;
  width: 100%;
  height: 40px;
  background: #555;
}
body > main > header.fixed {
  position: fixed;
  top: 0;
}
body > main > header > .container {
  width: 1265px;
  height: 16px;
  padding: 12px 0;
  margin: 0 auto;
  background: #999;
}
body > main > header > .container > .content {
  padding: 0 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 1255px;
}
body > main > header > .container > .content .logo a {
  text-decoration: none;
  color: #000;
}
body > main > header > .container > .content nav#menu {
  float: right;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
}
body > main > header > .container > .content nav#menu a {
  text-decoration: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  position: relative;
  color: #fff;
}
body > main > header > .container > .content nav#menu ul {
  float: left;
  padding: 0;
}
body > main > header > .container > .content nav#menu ul li {
  float: left;
  margin: 0 0 0 50px;
}
body > main > header > .container > .content .logo {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
/*_________ FOOTER ___________*/
body > main > footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 40px;
  background: #333;
}
body > main > footer.fixed {
  position: fixed;
  bottom: 0;
}
body > main > footer > .container {
  width: 1265px;
  height: 16px;
  padding: 12px 0;
  margin: 0 auto;
  background: #555;
}
body > main > footer > .container > .content {
  padding: 0 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
/*_________ SECTIONS _________*/
body > main > .sections {
  clear: both;
  width: 100%;
  padding-bottom: 40px;
}
body > main > .sections > section {
  clear: both;
  position: relative;
  z-index: 1;
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
body > main > .sections > section > .container {
  position: relative;
  width: 1265px;
  height: 100%;
  margin: 0 auto;
  background: #f2e5d5;
}
body > main > .sections > section > .container > .content {
  padding: 50px 20px;
}
/* _________ PAGES _________*/
section#index .container .content p {
  margin: 20px 0;
  line-height: 1.4;
}
/* _________ DEV PAGES _________*/
section#guideline h1 {
  font-size: 36px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
}
section#guideline .row {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  clear: both;
  width: 100%;
  border-top: 1px solid #555;
  padding: 20px 0;
}
section#guideline .colors div {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100px;
  height: 50px;
  padding: 3px;
}
section#guideline .colors div.bg {
  color: #fff;
}
section#fonts .container .content {
  padding: 50px 20px;
}
section#fonts .container .content h1 {
  margin: 30px 0;
  font-size: 24px;
}
section#fonts .container .content h2 {
  margin: 30px 0;
  font-size: 47px;
}
section#fonts .container .content .fonts {
  width: 1225px;
  overflow: hidden;
}
section#fonts .container .content .fonts p {
  margin: 15px 0;
  background: #fff;
  padding: 0 10px;
  border: 1px solid #808080;
}
section#fonts .container .content .fonts p .lowercase {
  text-transform: lowercase;
}
section#fonts .container .content .fonts p .uppercase {
  text-transform: uppercase;
}
/* _________ POPUPS ________*/
#popups .background {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 88888;
  background: #000;
  opacity: 0.6;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
#popups .popup {
  z-index: 99999;
  position: absolute;
  display: none;
  background-color: #fff;
  border: 10px solid #e2e2e2;
}
#popups .popup .close {
  cursor: pointer;
  position: absolute;
  right: -36px;
  top: -33px;
  width: 56px;
  height: 52px;
  background: url("../img/close_popup.png") no-repeat center center;
  background-position: left 0px;
  text-decoration: none !important;
  z-index: 98;
}
#popups .popup[data-popup-name="custom"] {
  text-align: center;
  min-height: 274px;
  width: 705px;
}
#popups .popup[data-popup-name="custom"] .header {
  padding: 30px 0 50px 0;
}
#popups .popup[data-popup-name="custom"] .header h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
#popups .popup[data-popup-name="custom"] .body {
  font-size: 24px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
  color: #333;
  padding: 0 90px;
}
#popups .popup[data-popup-name="custom"] .footer {
  padding: 50px 0 30px 0;
}
#popups .popup[data-popup-name="custom"] .footer button {
  margin: 0 auto;
}
#popups .popup[data-popup-name="unique"] {
  text-align: center;
  min-height: 274px;
  width: 705px;
}
#popups .popup[data-popup-name="unique"] .header {
  padding: 30px 0 50px 0;
}
#popups .popup[data-popup-name="unique"] .header h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
#popups .popup[data-popup-name="unique"] .body {
  font-size: 24px;
  line-height: 1;
  font-family: 'Ubuntu', helvetica, verdana, arial, tahoma;
  color: #333;
  padding: 0 90px;
}
#popups .popup[data-popup-name="unique"] .footer {
  padding: 50px 0 30px 0;
}
#popups .popup[data-popup-name="unique"] .footer button {
  margin: 0 auto;
}
/* _________ MEDIA _________ */
@media (max-height: 768px) {
  #debugBox .mediaHeight:after {
    content: '@media(max-height: 768px)';
  }
}
