extends layout/layout

block append css
	link(rel="stylesheet", type="text/css", href="css/carousel.css")

block append js
	script(type="text/javascript", src="js/libs/carousel.js")

	script.

		carousel = new Carousel({
			el: '#carousel',
			height: 500,
			width: 900,
			itemWidth: 250,
			paginationON: true,
			controlsON: true,
			load:  function() {
				console.log('[Carousel #carousel > load');
			},
			before:  function(vars) {
				console.log('[Carousel #carousel > before', vars);
			},
			after:  function(vars) {
				console.log('[Carousel #carousel > after', vars);
			}

		})

		carousel2 = new Carousel({
			el: '#carousel-2',
			height: 50,
			width: 900,
			itemWidth: 50,
			paginationON: true,
			controlsON: true,
			load:  function() {
				console.log('[Carousel #carousel-2 > load');
			},
			before:  function(vars) {
				console.log('[Carousel #carousel-2 > before', vars);
			},
			after:  function(vars) {
				console.log('[Carousel #carousel-2 > after', vars);
			}
		})

		

block content

	section#page-carousel

		.container
			.content

				.g-row

					a#carousel-prev(href="#") prev

					#carousel
						.items
							.item
								img(src="img/carousel/1.jpg")
							.item
								img(src="img/carousel/2.jpg")
							.item
								img(src="img/carousel/3.jpg")
							.item
								img(src="img/carousel/4.jpg")
							.item
								img(src="img/carousel/5.jpg")

					a#carousel-next(href="#") next
					
					.controls

						#carousel-pagination

				.g-row

					a#carousel-2-prev(href="#") prev

					#carousel-2
						.items
							.item(onclick="carousel.goTo(0);")
								img(src="img/carousel/1.jpg")
							.item(onclick="carousel.goTo(1);")
								img(src="img/carousel/2.jpg")
							.item(onclick="carousel.goTo(2);")
								img(src="img/carousel/3.jpg")
							.item(onclick="carousel.goTo(3);")
								img(src="img/carousel/4.jpg")
							.item(onclick="carousel.goTo(4);")
								img(src="img/carousel/5.jpg")
							.item(onclick="carousel.goTo(0);")
								img(src="img/carousel/1.jpg")
							.item(onclick="carousel.goTo(1);")
								img(src="img/carousel/2.jpg")
							.item(onclick="carousel.goTo(2);")
								img(src="img/carousel/3.jpg")
							.item(onclick="carousel.goTo(3);")
								img(src="img/carousel/4.jpg")
							.item(onclick="carousel.goTo(4);")
								img(src="img/carousel/5.jpg")
							.item(onclick="carousel.goTo(0);")
								img(src="img/carousel/1.jpg")
							.item(onclick="carousel.goTo(1);")
								img(src="img/carousel/2.jpg")
							.item(onclick="carousel.goTo(2);")
								img(src="img/carousel/3.jpg")
							.item(onclick="carousel.goTo(3);")
								img(src="img/carousel/4.jpg")
							.item(onclick="carousel.goTo(4);")
								img(src="img/carousel/5.jpg")
							.item(onclick="carousel.goTo(0);")
								img(src="img/carousel/1.jpg")
							.item(onclick="carousel.goTo(1);")
								img(src="img/carousel/2.jpg")
							.item(onclick="carousel.goTo(2);")
								img(src="img/carousel/3.jpg")
							.item(onclick="carousel.goTo(3);")
								img(src="img/carousel/4.jpg")
							.item(onclick="carousel.goTo(4);")
								img(src="img/carousel/5.jpg")

					a#carousel-2-next(href="#") next
					
					.controls

						#carousel-2-pagination

				h2: span JS	[верхняя карусель]	
				pre.example(class="prettyprint lang-js linenums").
					carousel = new Carousel({
						el: '#carousel',
						height: 500,
						width: 900,
						itemWidth: 250,
						paginationON: true,
						controlsON: true
					})

				h2: span JS	[нижняя карусель]	
				pre.example(class="prettyprint lang-js linenums").
					carousel2 = new Carousel({
						el: '#carousel-2',
						height: 50,
						width: 900,
						itemWidth: 50,
						paginationON: true,
						controlsON: true
					})

				h2: span options			
				pre.example(class="prettyprint lang-js linenums").
					carousel = new Carousel({
						el: '#carousel',
						height: 500,
						width: 900,
						itemWidth: 250,
						start: 3,
						autoplayON: true,
						autoplayTime: 3000,
						easing: 'easeOutExpo',
						animateTime: 500,
						paginationON: true,
						controlsON: true,
						load:  function() {
							console.log('[Carousel #carousel > load');
						},
						before:  function(vars) {
							console.log('[Carousel #carousel > before', vars);
						},
						after:  function(vars) {
							console.log('[Carousel #carousel > after', vars);
						}

					})


				h2: span jade
				pre.example(class="prettyprint lang-html linenums").
					a#carousel-prev(href="#") prev

					#carousel
						.items
							.item
								img(src="img/carousel/1.jpg")
							.item
								img(src="img/carousel/2.jpg")
							.item
								img(src="img/carousel/3.jpg")
							.item
								img(src="img/carousel/4.jpg")
							.item
								img(src="img/carousel/5.jpg")

					a#carousel-next(href="#") next
					
					.controls

						#carousel-pagination