#popups.yea
	
	.popup(data-popup-name="custom")
		.close(data-popup-close)
		.header: h1
		.body
		.footer
			button.g-btn-2(data-popup-close) закрыть

	.popup(data-popup-name="unique")
		.close(data-popup-close)
		.header
			h1 unique
		.body
			p popup
		.footer
			button.g-btn-2(data-popup-button) закрыть

	.background(data-popup-close)