header.fixed
	.container
		.content

			.logo: h5: a(href="index.html") HEADER

			nav#menu
				ul
					li: a(href="index-render.html") Render
					li: a(href="index-scroll.html") Scroll
					li: a(href="index-hash.html") Hash
					li: a(href="guideline.html") Guideline
					li: a(href="fonts.html") Fonts
					li: a(href="https://github.com/vinsproduction/frontend_skeleton/wiki", target="_blank") Wiki