extends layout/layout

block content

	section#page-IconHoverEffects
		.container
			.content

				block append js
					script(src="IconHoverEffects/js/modernizr.custom.js")

				block append css 
					link(rel="stylesheet", type="text/css", href="IconHoverEffects/css/component.css")

				section.g-color-1
					.hi-icon-wrap.hi-icon-effect-1.hi-icon-effect-1a
						a.hi-icon.hi-icon-mobile(href='#set-1') Mobile
						a.hi-icon.hi-icon-screen(href='#set-1') Desktop
						a.hi-icon.hi-icon-earth(href='#set-1') Partners
						a.hi-icon.hi-icon-support(href='#set-1') Support
						a.hi-icon.hi-icon-locked(href='#set-1') Security
					.hi-icon-wrap.hi-icon-effect-1.hi-icon-effect-1b
						a.hi-icon.hi-icon-mobile(href='#set-1') Mobile
						a.hi-icon.hi-icon-screen(href='#set-1') Desktop
						a.hi-icon.hi-icon-earth(href='#set-1') Partners
						a.hi-icon.hi-icon-support(href='#set-1') Support
						a.hi-icon.hi-icon-locked(href='#set-1') Security
				section.g-color-2
					.hi-icon-wrap.hi-icon-effect-2.hi-icon-effect-2a
						a.hi-icon.hi-icon-cog(href='#set-2') Settings
						a.hi-icon.hi-icon-clock(href='#set-2') Time
						a.hi-icon.hi-icon-videos(href='#set-2') Videos
						a.hi-icon.hi-icon-list(href='#set-2') List
						a.hi-icon.hi-icon-refresh(href='#set-2') Refresh
					.hi-icon-wrap.hi-icon-effect-2.hi-icon-effect-2b
						a.hi-icon.hi-icon-cog(href='#set-2') Settings
						a.hi-icon.hi-icon-clock(href='#set-2') Time
						a.hi-icon.hi-icon-videos(href='#set-2') Videos
						a.hi-icon.hi-icon-list(href='#set-2') List
						a.hi-icon.hi-icon-refresh(href='#set-2') Refresh
				section.g-color-3
					.hi-icon-wrap.hi-icon-effect-3.hi-icon-effect-3a
						a.hi-icon.hi-icon-images(href='#set-3') Images
						a.hi-icon.hi-icon-pencil(href='#set-3') Edit
						a.hi-icon.hi-icon-link(href='#set-3') Link
						a.hi-icon.hi-icon-mail(href='#set-3') Mail
						a.hi-icon.hi-icon-location(href='#set-3') Location
					.hi-icon-wrap.hi-icon-effect-3.hi-icon-effect-3b
						a.hi-icon.hi-icon-images(href='#set-3') Images
						a.hi-icon.hi-icon-pencil(href='#set-3') Edit
						a.hi-icon.hi-icon-link(href='#set-3') Link
						a.hi-icon.hi-icon-mail(href='#set-3') Mail
						a.hi-icon.hi-icon-location(href='#set-3') Location
				section.g-color-4
					.hi-icon-wrap.hi-icon-effect-4.hi-icon-effect-4a
						a.hi-icon.hi-icon-archive(href='#set-4') Archive
						a.hi-icon.hi-icon-chat(href='#set-4') Chat
						a.hi-icon.hi-icon-bookmark(href='#set-4') Bookmarks
						a.hi-icon.hi-icon-user(href='#set-4') User
						a.hi-icon.hi-icon-contract(href='#set-4') Contact
					.hi-icon-wrap.hi-icon-effect-4.hi-icon-effect-4b
						a.hi-icon.hi-icon-archive(href='#set-4') Archive
						a.hi-icon.hi-icon-chat(href='#set-4') Chat
						a.hi-icon.hi-icon-bookmark(href='#set-4') Bookmarks
						a.hi-icon.hi-icon-user(href='#set-4') User
						a.hi-icon.hi-icon-contract(href='#set-4') Contact
				
				section.g-color-5
					.hi-icon-wrap.hi-icon-effect-5.hi-icon-effect-5a
						a.hi-icon.hi-icon-mobile(href='#set-5') Mobile
						a.hi-icon.hi-icon-screen(href='#set-5') Desktop
						a.hi-icon.hi-icon-earth(href='#set-5') Partners
						a.hi-icon.hi-icon-support(href='#set-5') Support
						a.hi-icon.hi-icon-locked(href='#set-5') Security
					.hi-icon-wrap.hi-icon-effect-5.hi-icon-effect-5b
						a.hi-icon.hi-icon-mobile(href='#set-5') Mobile
						a.hi-icon.hi-icon-screen(href='#set-5') Desktop
						a.hi-icon.hi-icon-earth(href='#set-5') Partners
						a.hi-icon.hi-icon-support(href='#set-5') Support
						a.hi-icon.hi-icon-locked(href='#set-5') Security
					.hi-icon-wrap.hi-icon-effect-5.hi-icon-effect-5c
						a.hi-icon.hi-icon-mobile(href='#set-5') Mobile
						a.hi-icon.hi-icon-screen(href='#set-5') Desktop
						a.hi-icon.hi-icon-earth(href='#set-5') Partners
						a.hi-icon.hi-icon-support(href='#set-5') Support
						a.hi-icon.hi-icon-locked(href='#set-5') Security
					.hi-icon-wrap.hi-icon-effect-5.hi-icon-effect-5d
						a.hi-icon.hi-icon-mobile(href='#set-5') Mobile
						a.hi-icon.hi-icon-screen(href='#set-5') Desktop
						a.hi-icon.hi-icon-earth(href='#set-5') Partners
						a.hi-icon.hi-icon-support(href='#set-5') Support
						a.hi-icon.hi-icon-locked(href='#set-5') Security
				section.g-color-6
					.hi-icon-wrap.hi-icon-effect-6
						a.hi-icon.hi-icon-cog(href='#set-6') Settings
						a.hi-icon.hi-icon-support(href='#set-6') Support
						a.hi-icon.hi-icon-star(href='#set-6') Fav
						a.hi-icon.hi-icon-contract(href='#set-6') Contract
						a.hi-icon.hi-icon-refresh(href='#set-6') Refresh
				section.g-color-7
					.hi-icon-wrap.hi-icon-effect-7.hi-icon-effect-7a
						a.hi-icon.hi-icon-cog(href='#set-7') Settings
						a.hi-icon.hi-icon-clock(href='#set-7') Time
						a.hi-icon.hi-icon-videos(href='#set-7') Videos
						a.hi-icon.hi-icon-list(href='#set-7') List
						a.hi-icon.hi-icon-refresh(href='#set-7') Refresh
					.hi-icon-wrap.hi-icon-effect-7.hi-icon-effect-7b
						a.hi-icon.hi-icon-cog(href='#set-7') Settings
						a.hi-icon.hi-icon-clock(href='#set-7') Time
						a.hi-icon.hi-icon-videos(href='#set-7') Videos
						a.hi-icon.hi-icon-list(href='#set-7') List
						a.hi-icon.hi-icon-refresh(href='#set-7') Refresh
				section.g-color-8
					.hi-icon-wrap.hi-icon-effect-8
						a.hi-icon.hi-icon-archive(href='#set-8') Archive
						a.hi-icon.hi-icon-chat(href='#set-8') Chat
						a.hi-icon.hi-icon-bookmark(href='#set-8') Bookmarks
						a.hi-icon.hi-icon-user(href='#set-8') User
						a.hi-icon.hi-icon-contract(href='#set-8') Contact
				section.g-color-9
					.hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9a
						a.hi-icon.hi-icon-images(href='#set-9') Images
						a.hi-icon.hi-icon-pencil(href='#set-9') Edit
						a.hi-icon.hi-icon-link(href='#set-9') Link
						a.hi-icon.hi-icon-mail(href='#set-9') Mail
						a.hi-icon.hi-icon-location(href='#set-9') Location
					.hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b
						a.hi-icon.hi-icon-images(href='#set-9') Images
						a.hi-icon.hi-icon-pencil(href='#set-9') Edit
						a.hi-icon.hi-icon-link(href='#set-9') Link
						a.hi-icon.hi-icon-mail(href='#set-9') Mail
						a.hi-icon.hi-icon-location(href='#set-9') Location


