extends layout/layout

block append css
	link(rel="stylesheet", type="text/css", href="css/map.css")


block append js

	script(type="text/javascript", src="../js/libs/jquery-ui-1.10.3.custom.js")
	script(type="text/javascript", src="../js/libs/underscore-min.js")
	script(type="text/javascript", src="js/jquery.maphilight.min.js")
	script(type="text/javascript", src="js/map.js")


	//map init

	script.


		$(document).ready(function(){

			// Все опции кроме apiUrl - не обязательны!

			window.map = new Map({
				
				apiUrl: "http://" + window.location.host + "/api/getshop", // Экшен получения данных с сервака

				root: "", // Пусть до статики, по умолчанию пустой

				wrapperWidth: 660, // Ширина сдерживающего блока
				wrapperHeight: 564,// Высота сдерживающего блока
				mapWidth: 924,// Высота карта
				mapHeight:790,// Ширина карты
				hilightColor: '10C3A8',// Цвет подсвечивания полигонов при наведении
				doneColor: 'FAF00D',// Цвет заполненных полигонов, по умполчанию такой же как остальная подсветка
				zoom: 0.6,// Зум по умолчанию, он же минимальный, по умполчанию 0.7
				zoomMax: 1.4,// Максимальный зум, по умполчанию 1.5
				zoomStep: 0.1,// Шаг зума при клике, по умполчанию 0.1
				mapPosition: {left:5,top:0},// Позиция карты, по умполчанию по центру
				showIds: true, // Показывать id полигонов, опция для админки, по умолчанию false
				showDoneShops: true, // Показывать заполненные магазины
				boxidSize: '10px', // размер шрифта айдишников на полигонах
				boxidColor: '#000', // цвет айдишников на полигонах
				wrapperBgColor: '#000', // Цвет бекграунда карты
				showLayers: true
			});

			// Загрузка нужной карты
			// Первый параметр - название магазина
			// Первый параметр - этаж, который надо открыть(необязательный)
			// Третий параметр - полигон, который надо подсветить(необязательный)

			map.getMap('ocean',1, 15);

			// Карта загрузилась, this - объект карты
			map.createCallback = function(data){
				console.debug('map create!', this);
			}

			// Клик по полигону
			map.areaClick = function(data){
				console.debug('click!', data);
			}

			// Ховер по полигону
			map.areaHover = function(data){
				console.log('hover!', data);
			}

			// Клик по этажу
			map.floorClick = function(data){   
				console.log('floor click!', data);
			}

		})


	///map init

block content

	section#page-map
		.container
			.content

				#shop-map

					//Список магазинов
					.brandlist
						.inner
							.title Shops <a href="#" onclick="map.showDone();return false;">Показать все</a>
							ul.list
					///Список магазинов


					.mapcontainer

						//Этажи
						.floors.nav
						///Этажи

						//Zoom
						.zoom
							a.plus
							a.minus
						///Zoom

						//Preloader
						.preloader
							img(src='images/preloader.gif')
						///Preloader

						//Cдерживающий блок для карты
						.wrapper
							.movebox
								//Карта
								.map
								///Карта
						///Cдерживающий блок для карты

					//Меню навигации	
					.menu
						.search
							label Поиск
							input#findAreaByBrand(type='text')


						.list-2
							ul
								li: a(href='#', data-layer='cash')
										span.icon.icon01
										| Банкомат
								li: a(href='#', data-layer='escalator')
										span.icon.icon02
										| Эскалатор
								li: a(href='#', data-layer='metro')
										span.icon.icon03
										| Метро
								li: a(href='#', data-layer='wc')
										span.icon.icon04
										| Туалет
								li: a(href='#', data-layer='exit')
										span.icon.icon05
										| Запасной выход
								li: a(href='#', data-layer='elevator')
										span.icon.icon06
										| Лифт
								li: a(href='#', data-layer='cloakroom')
										span.icon.icon07
										| Гардероб
								li: a(href='#', data-layer='info')
										span.icon.icon08
										| Информационная стойка
								li: a(data-sale='', href='#')
										span.icon.icon09
										| Sale

						.list-1
							ul
								li.icon01(data-type='1'): a(href='') Молодежная одежда
								li.icon02(data-type='2'): a(href='') Женская одежда
								li.icon03(data-type='3'): a(href='') Мужская одежда
								li.icon04(data-type='4'): a(href='') Одежда для детей
								li.icon05(data-type='5'): a(href='') Обувь
								li.icon06(data-type='6'): a(href='') Белье
							ul
								li.icon04(data-type='7'): a(href='') Меха и кожаные изделия
								li.icon08(data-type='8'): a(href='') Аксессуары
								li.icon09(data-type='9'): a(href='') Оптика
								li.icon10(data-type='10'): a(href='') Ювелирные изделия
								li.icon11(data-type='11'): a(href='') Красота и здоровье
								li.icon12(data-type='12'): a(href='') Парфюмерия и косметика
							ul
								li.icon13(data-type='13'): a(href='') Постельное белье
								li.icon14(data-type='14'): a(href='') Сувениры, цветы, подарки
								li.icon15(data-type='15'): a(href='') Табак
								li.icon16(data-type='16'): a(href='') Дом быта
								li.icon17(data-type='17'): a(href='') Все для дома
								li.icon18(data-type='18'): a(href='') Салон
							ul
								li.icon19(data-type='19'): a(href='') Кофейня
								li.icon20(data-type='20'): a(href='') Ресторан
								li.icon21(data-type='21'): a(href='') Фудкорт/Кафе
								li.icon22(data-type='22'): a(href='') Гастрономия
								li.icon23(data-type='23'): a(href='') Сувениры
								li.icon24(data-type='24'): a(href='') Развлечения
					///Меню навигации	

				pre.example(class="prettyprint lang-js linenums").
					$(document).ready(function(){

						// Все опции кроме apiUrl - не обязательны!

						map = new Map({
							
							apiUrl: "http://localhost:8888/api/getshop", // Экшен получения данных с сервака

							root: "", // Пусть до статики, по умолчанию пустой

							wrapperWidth: 660, // Ширина сдерживающего блока
							wrapperHeight: 564,// Высота сдерживающего блока
							mapWidth: 924,// Высота карта
							mapHeight:790,// Ширина карты
							hilightColor: 'ff6699',// Цвет подсвечивания полигонов при наведении
							doneColor: 'FAF00D',// Цвет заполненных полигонов, по умполчанию такой же как остальная подсветка
							zoom: 0.8,// Зум по умолчанию, он же минимальный, по умполчанию 0.7
							zoomMax: 1.4,// Максимальный зум, по умполчанию 1.5
							zoomStep: 0.1,// Шаг зума при клике, по умполчанию 0.1
							mapPosition: {left:5,top:30},// Позиция карты, по умполчанию по центру
							showIds: true, // Показывать id полигонов, опция для админки, по умолчанию false
							showDoneShops: true // Показывать заполненные магазины
							boxidSize: '10px', // размер шрифта айдишников на полигонах
							boxidColor: 'red', // цвет айдишников на полигонах
							wrapperBgColor: '#000' // Цвет бекграунда карты
						});

						// Загрузка нужной карты
						// Первый параметр - название магазина
						// Первый параметр - этаж, который надо открыть(необязательный)
						// Третий параметр - полигон, который надо подсветить(необязательный)

						map.getMap('krasnodar',1, 16);

						// Карта загрузилась, this - объект карты
						map.createCallback = function(data){
							console.debug('map create!', this);
						}

						// Клик по полигону
						map.areaClick = function(data){
							console.debug('click!', data);
						}

						// Ховер по полигону
						map.areaHover = function(data){
							console.debug('hover!', data);
						}

						// Клик по этажу
						map.floorClick = function(data){   
							console.log('floor click!', data);
						}

					})
