extends layout/layout

block content

	section#page-CreativeLinkEffects
		.container
			.content

				block append css 
					link(rel="stylesheet", type="text/css", href="CreativeLinkEffects/css/component.css")


				section.g-color-1
					nav#cl-effect-1.cl-effect-1
						a(href='#cl-effect-1') Wafture
						a(href='#cl-effect-1') Sumptuous
						a(href='#cl-effect-1') Scintilla
						a(href='#cl-effect-1') Propinquity
						a(href='#cl-effect-1') Harbinger
				section.g-color-4
					nav#cl-effect-2.cl-effect-2
						a(href='#cl-effect-2')
							span(data-hover='Ratatouille') Ratatouille
						a(href='#cl-effect-2')
							span(data-hover='Lassitude') Lassitude
						a(href='#cl-effect-2')
							span(data-hover='Murmurous') Murmurous
						a(href='#cl-effect-2')
							span(data-hover='Palimpsest') Palimpsest
						a(href='#cl-effect-2')
							span(data-hover='Assemblage') Assemblage
				section.g-color-6
					nav#cl-effect-3.cl-effect-3
						a(href='#cl-effect-3') Palimpsest
						a(href='#cl-effect-3') Ineffable
						a(href='#cl-effect-3') Lilt
						a(href='#cl-effect-3') Mellifluous
						a(href='#cl-effect-3') Serendipity
				section.g-color-7
					nav#cl-effect-4.cl-effect-4
						a(href='#cl-effect-4') Woebegone
						a(href='#cl-effect-4') Lassitude
						a(href='#cl-effect-4') Murmurous
						a(href='#cl-effect-4') Palimpsest
						a(href='#cl-effect-4') Assemblage
				section.g-color-5
					nav#cl-effect-5.cl-effect-5
						a(href='#cl-effect-5')
							span(data-hover='Seraglio') Seraglio
						a(href='#cl-effect-5')
							span(data-hover='Sumptuous') Sumptuous
						a(href='#cl-effect-5')
							span(data-hover='Scintilla') Scintilla
						a(href='#cl-effect-5')
							span(data-hover='Palimpsest') Palimpsest
						a(href='#cl-effect-5')
							span(data-hover='Assemblage') Assemblage
				section.g-color-4
					nav#cl-effect-6.cl-effect-6
						a(href='#cl-effect-6') Umbrella
						a(href='#cl-effect-6') Ineffable
						a(href='#cl-effect-6') Lilt
						a(href='#cl-effect-6') Mellifluous
						a(href='#cl-effect-6') Serendipity
				section.g-color-8
					nav#cl-effect-7.cl-effect-7
						a(href='#cl-effect-7') Languor
						a(href='#cl-effect-7') Lassitude
						a(href='#cl-effect-7') Murmurous
						a(href='#cl-effect-7') Palimpsest
						a(href='#cl-effect-7') Assemblage
				section.g-color-1
					nav#cl-effect-8.cl-effect-8
						a(href='#cl-effect-8') Imbue
						a(href='#cl-effect-8') Sumptuous
						a(href='#cl-effect-8') Scintilla
						a(href='#cl-effect-8') Propinquity
						a(href='#cl-effect-8') Harbinger
				section.g-color-9
					nav#cl-effect-9.cl-effect-9
						a(href='#cl-effect-9')
							span Gossamer
							span Sumptuous Heart
						a(href='#cl-effect-9')
							span Ineffable
							span Evanescent Life
						a(href='#cl-effect-9')
							span Chatoyant
							span Assemblage Love
						a(href='#cl-effect-9')
							span Mellifluous
							span Mellifluous Will
						a(href='#cl-effect-9')
							span Serendipity
							span Serendipity Cut
				section.g-color-10
					nav#cl-effect-10.cl-effect-10
						a(href='#cl-effect-10', data-hover='Seraglio')
							span Seraglio
						a(href='#cl-effect-10', data-hover='Sumptuous')
							span Sumptuous
						a(href='#cl-effect-10', data-hover='Scintilla')
							span Scintilla
						a(href='#cl-effect-10', data-hover='Palimpsest')
							span Palimpsest
						a(href='#cl-effect-10', data-hover='Assemblage')
							span Assemblage
				section.g-color-4
					nav#cl-effect-11.cl-effect-11
						a(href='#cl-effect-11', data-hover='Desultory') Desultory
						a(href='#cl-effect-11', data-hover='Sumptuous') Sumptuous
						a(href='#cl-effect-11', data-hover='Scintilla') Scintilla
						a(href='#cl-effect-11', data-hover='Propinquity') Propinquity
						a(href='#cl-effect-11', data-hover='Harbinger') Harbinger
				section.g-color-5
					nav#cl-effect-12.cl-effect-12
						a(href='#cl-effect-12') Chatoyant
						a(href='#cl-effect-12') Ineffable
						a(href='#cl-effect-12') Efficiency
						a(href='#cl-effect-12') Mellifluous
						a(href='#cl-effect-12') Serendipity
				section.g-color-6
					nav#cl-effect-13.cl-effect-13
						a(href='#cl-effect-13') Beleaguer
						a(href='#cl-effect-13') Lassitude
						a(href='#cl-effect-13') Murmurous
						a(href='#cl-effect-13') Palimpsest
						a(href='#cl-effect-13') Assemblage
				section.g-color-1
					nav#cl-effect-14.cl-effect-14
						a(href='#cl-effect-14') Ailurophile
						a(href='#cl-effect-14') Sumptuous
						a(href='#cl-effect-14') Scintilla
						a(href='#cl-effect-14') Propinquity
						a(href='#cl-effect-14') Harbinger
				section.g-color-7
					nav#cl-effect-15.cl-effect-15
						a(href='#cl-effect-15', data-hover='Desultory') Desultory
						a(href='#cl-effect-15', data-hover='Sumptuous') Sumptuous
						a(href='#cl-effect-15', data-hover='Scintilla') Scintilla
						a(href='#cl-effect-15', data-hover='Propinquity') Propinquity
						a(href='#cl-effect-15', data-hover='Harbinger') Harbinger
				section.g-color-11
					nav#cl-effect-16.cl-effect-16
						a(href='#cl-effect-16', data-hover='Languor') Languor
						a(href='#cl-effect-16', data-hover='Murmurous') Murmurous
						a(href='#cl-effect-16', data-hover='Lassitude') Lassitude
						a(href='#cl-effect-16', data-hover='Chatoyant') Chatoyant
						a(href='#cl-effect-16', data-hover='Palimpsest') Palimpsest
				section.g-color-4
					nav#cl-effect-17.cl-effect-17
						a(href='#cl-effect-17', data-hover='Languor') Languor
						a(href='#cl-effect-17', data-hover='Murmurous') Murmurous
						a(href='#cl-effect-17', data-hover='Lassitude') Lassitude
						a(href='#cl-effect-17', data-hover='Chatoyant') Chatoyant
						a(href='#cl-effect-17', data-hover='Palimpsest') Palimpsest
				section.g-color-6
					nav#cl-effect-18.cl-effect-18
						a(href='#cl-effect-18', data-hover='Desultory') Desultory
						a(href='#cl-effect-18', data-hover='Sumptuous') Sumptuous
						a(href='#cl-effect-18', data-hover='Scintilla') Scintilla
						a(href='#cl-effect-18', data-hover='Propinquity') Propinquity
						a(href='#cl-effect-18', data-hover='Harbinger') Harbinger
				section.g-color-5
					nav#cl-effect-19.cl-effect-19
						a(href='#cl-effect-19')
							span(data-hover='Ratatouille') Ratatouille
						a(href='#cl-effect-19')
							span(data-hover='Lassitude') Lassitude
						a(href='#cl-effect-19')
							span(data-hover='Murmurous') Murmurous
						a(href='#cl-effect-19')
							span(data-hover='Palimpsest') Palimpsest
						a(href='#cl-effect-19')
							span(data-hover='Assemblage') Assemblage
				section.g-color-1
					nav#cl-effect-20.cl-effect-20
						a(href='#cl-effect-20')
							span(data-hover='Beleaguer') Beleaguer
						a(href='#cl-effect-20')
							span(data-hover='Scintilla') Scintilla
						a(href='#cl-effect-20')
							span(data-hover='Chatoyant') Chatoyant
						a(href='#cl-effect-20')
							span(data-hover='Palimpsest') Palimpsest
						a(href='#cl-effect-20')
							span(data-hover='Languor') Languor
				section.g-color-7
					nav#cl-effect-21.cl-effect-21
						a(href='#cl-effect-21') Chatoyant
						a(href='#cl-effect-21') Ineffable
						a(href='#cl-effect-21') Efficiency
						a(href='#cl-effect-21') Mellifluous
						a(href='#cl-effect-21') Serendipity
