extends layout/layout

block content

	section#page-index
		.container
			.content

				h1 Index

				ul
					li: a(href="/") Framework
					li: a(href="render.html") Mustache render [Template engines]
					li: a(href="helpers-images.html") Images scale [js]
					li: a(href="popup.html") Popups [js]
					li: a(href="map.html") Map [js]
					li: a(href="gallery.html") Gallery [js]
					li: a(href="carousel.html") Carousel [js]
					li: a(href="video.html") Video [js]
					li: a(href="form.html") Form validation [js]


					li: a(href="CreativeLinkEffects.html") Creative link effects [css]
					li: a(href="IconHoverEffects.html") Icon hover effects [css]
					li: a(href="CreativeButtons.html") Creative buttons [css]
					
					

	//include popup
	//include helpers-images
	//include render
	//include CreativeButtons
	//include IconHoverEffects
	//include CreativeLinkEffects
