header.fixed
	.container
		.content

			.logo: h1 Tutorials

			nav#menu
				ul
					li: a(href="index.html") index
					li: a(href="#!/helpers-images") images
					li: a(href="#!/popup") popup
					li: a(href="#!/render") render
			