doctype html
head

	include head

body(onload="prettyPrint()")

	//-script(src='http://vkontakte.ru/js/api/openapi.js', type='text/javascript')
	//-#fb-root
	//-script(src='http://connect.facebook.net/en_US/all.js')
	
	include popups

	main

		include header

		.sections

			block content

		include footer

	
