doctype html
head

	block css
		//-

	block js
		script(type="text/javascript", src="../js/libs/jquery-1.10.2.min.js")
		script(type="text/javascript", src="../js/libs/helpers.js")

		script
			:coffee
				if !$$.browser.msie and ( location.host == "" or /localhost:8888/.test(location.host) )
					$$.includeJS 'http://localhost:777/livereload.js'

	<!--[if lt IE 9]>
	script(type='text/javascript', src='../js/libs/html5shiv.js')
	<![endif]-->

body

	block content

	
	
