#carousel,
#carousel-2 {
  position: relative;
  background: #ccc;
}
#carousel .items,
#carousel-2 .items {
  margin: 0 auto;
}
#carousel .items .item,
#carousel-2 .items .item {
  border: 2px solid #000;
  cursor: pointer;
}
#carousel .items .item.current,
#carousel-2 .items .item.current {
  border: 2px solid #f5ec0f;
}
#carousel .items .item img,
#carousel-2 .items .item img {
  outline: none;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
}
#carousel.speed .item img,
#carousel-2.speed .item img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
}
#carousel-prev,
#carousel-2-prev {
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -50px;
}
#carousel-next,
#carousel-2-next {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: -50px;
}
#carousel-pagination,
#carousel-2-pagination {
  float: left;
  margin: 0 10px;
}
#carousel-pagination a,
#carousel-2-pagination a {
  float: left;
  margin: 0 10px 0 0;
}
#carousel-pagination a.current,
#carousel-2-pagination a.current {
  text-decoration: underline;
}
.controls {
  display: table;
  margin: 0 auto;
}
