#video {
  overflow: hidden;
  position: relative;
}
#video .greed {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-image: url("../img/bg_px.png");
}
#video #player {
  position: relative;
}
#video #player video,
#video #player object {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
#video .vjs-poster {
  z-index: 2;
}
#video .vjs-big-play-button {
  display: none !important;
  visibility: hidden;
}
#video .vjs-control-bar {
  z-index: 10;
}
#video .vjs-loading-spinner {
  z-index: 10;
}
