
<header class="fixed">
  <div class="container">
    <div class="content">
      <div class="logo">
        <h5><a href="index.html">HEADER (fixed)</a></h5>
      </div>
      <nav id="menu">
        <ul>
          <li><a href="guideline.html">Guideline</a></li>
          <li><a href="fonts.html">Fonts</a></li>
          <li><a href="http://vinsproduction.com/skeleton/dev/" target="_blank">Dev</a></li>
          <li><a href="https://github.com/vinsproduction/frontend_skeleton" target="_blank">Download</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>