
<header class="fixed">
  <div class="container">
    <div class="content">
      <div class="logo">
        <h5><a href="index.html">HEADER</a></h5>
      </div>
      <nav id="menu">
        <ul>
          <li><a href="index-render.html">Render</a></li>
          <li><a href="index-scroll.html">Scroll</a></li>
          <li><a href="index-hash.html">Hash</a></li>
          <li><a href="fonts.html">Fonts</a></li>
          <li><a href="https://github.com/vinsproduction/frontend_skeleton/wiki" target="_blank">Wiki</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>