
meta(name='viewport' content='width=1265')

meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

//SEO
title FRONTEND SCELETON
meta(name='description' content='')
meta(name='keywords' content='')

// Open Graph
meta(property='og:title' content='')
meta(property='og:url' content='')
meta(property='og:image' content='')
meta(property='og:description' content='')

//favicon
link(rel='image_src' href='')
link(rel="shortcut icon" type="image/x-icon" href="")

//IE
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="imagetoolbar" content="no"/>
<meta http-equiv="MSThemeCompatible" content="no"/>
<![endif]-->

<!--[if lt IE 7]>
style.
	body > main {
		height: 100%;
	}
<![endif]-->
			
<!--[if lt IE 9]>
script(type='text/javascript' src='js/libs/html5shiv.js')
<![endif]-->

//Apple
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

//JS helpers 
script(type='text/javascript' src='js/libs/helpers.js')

//Include JS/CSS
script

	:coffee

		if !/debug/.test(window.location.search)

			console.log '[App] PRODUCTION MODE (Console is disabled)'

			$$.disableConsole()
			
			$$.includeJS 'js/libs/lib.min.js'
			$$.includeCSS 'css/project.css'
			$$.includeJS 'js/project.min.js'

		else

			console.debug '[App] DEBUG MODE'
			
			$$.includeJS 'js/libs/jquery-1.10.2.min.js'
			$$.includeJS 'js/libs/jquery-ui-1.10.3.custom.js'
			$$.includeJS 'js/libs/jquery.tinyscrollbar.js'
			$$.includeJS 'js/libs/jquery.cookie.js'

			$$.includeJS 'js/libs/mustache.js'
			$$.includeJS 'js/libs/underscore-min.js'

			$$.includeJS 'js/libs/json2.js'
			$$.includeJS 'js/libs/backbone.router.js'
			
			$$.includeJS 'js/libs/popup.js'
			$$.includeJS 'js/libs/form.js'
			$$.includeJS 'js/libs/fileuploader.js'

			$$.includeCSS 'css/app.css'
			
			$$.includeJS 'js/app.models.js'
			$$.includeJS 'js/app.views.js'
			$$.includeJS 'js/app.router.js'
			$$.includeJS 'js/app.js'

//App initialization!
script.

	window.app = new App({
		name: "Frontend Skeleton",
		hashNavigate: false,
		remoteHost: "",
		root: "",
		onLoad: function(){}
	});

block css
	//-

block js
	//-