meta(charset='utf-8')
title SCELETON
meta(name='description', content='')
meta(name='keywords', content='')

meta(property='og:title', content='')
meta(property='og:url', content='')
meta(property='og:image', content='')
meta(property='og:description', content='')

link(rel='image_src', href='')

link(rel="shortcut icon",type="image/x-icon",href="")
meta(name='viewport', content='width=1265')

script(type='text/javascript', src='js/libs/helpers.js')

script

	:coffee

		if !/debug/.test(window.location.search)
			
			do $$.disableConsole

			$$.includeJS 'js/libs/lib.min.js'
			$$.includeCSS 'css/project.css'
			$$.includeJS 'js/project.min.js'

		else

			console.debug 'DEBUG MODE'
			
			$$.includeJS 'js/libs/jquery-1.10.2.min.js'
			$$.includeJS 'js/libs/jquery-ui-1.10.3.custom.js'
			$$.includeJS 'js/libs/jquery.tinyscrollbar.js'
			$$.includeJS 'js/libs/jquery.cookie.js'

			$$.includeJS 'js/libs/mustache.js'
			$$.includeJS 'js/libs/underscore-min.js'

			$$.includeJS 'js/libs/json2.js'
			$$.includeJS 'js/libs/backbone.router.js'
			
			$$.includeJS 'js/libs/popup.js'

			$$.includeCSS 'css/app.css'
			
			$$.includeJS 'js/app.models.js'
			$$.includeJS 'js/app.views.js'
			$$.includeJS 'js/app.router.js'
			$$.includeJS 'js/app.js'

block css
	//-

block js

	script

		:coffee

			window.app = new App
			do app.init


<!--[if lt IE 7]>
style.
	body > main {
		height: 100%;
	}
<![endif]-->
			
<!--[if lt IE 9]>
script(type='text/javascript', src='js/libs/html5shiv.js')
<![endif]-->

