header.fixed
	.container
		.content

			.logo: h5: a(href="index.html") HEADER (fixed)

			nav#menu
				ul
					li: a(href="guideline.html") Guideline
					li: a(href="fonts.html") Fonts
					li: a(href="http://vinsproduction.com/skeleton/tutorials/", target="_blank") Tutorials