extends layout/layout

block content

	section#guideline
		.container
			.content
				
				h1 GUIDELINE

				.row

					.colors
						.bg.g-bg-color-graydarker graydarker
						.bg.g-bg-color-graydark graydark
						.bg.g-bg-color-gray gray
						.bg.g-bg-color-graylight graylight
						.bg.g-bg-color-graylighter graylighter
					.colors.g-clearfix
						.g-color-graydarker graydarker
						.g-color-graydark graydark
						.g-color-gray gray
						.g-color-graylight graylight
						.g-color-graylighter graylighter

				.row

					h1 Заголовок H1
					h2 Заголовок H2
					h3 Заголовок H3
					h3 Заголовок H4
					h5 Заголовок H5
					h6 Заголовок H6

				.row
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis tempus nisl. Nulla magna metus, imperdiet gravida facilisis ut, porttitor sed sapien. Pellentesque consectetur erat felis, non lobortis est faucibus non. Donec placerat augue in justo fermentum facilisis. Curabitur fringilla neque ut leo scelerisque facilisis. Vivamus vel justo vitae nibh imperdiet interdum id ac neque. Etiam ac massa pellentesque, dictum justo quis, dignissim est. Phasellus sit amet rutrum odio. In mollis dictum dolor vehicula imperdiet. Vestibulum et odio egestas, cursus dui vel, semper mi.

				.row
					p: a.g-link-1(href="#") Ссылка без подчеркиванием
					p: a.g-link-2(href="#") Ссылка c подчеркиванием

				.row
					button.g-btn-1 Кнопка

				.row
					a(href="#").g-btn-2
						span Ссылка кнопка

				.row
					a.g-btn-3(href="#",onclick="popup.custom('unique');return false;")
						span Ссылка кнопка Открыть попап

				.row
					label Input
					br
					input.g-input-1(type='text', name='input')

				.row
					label Textarea
					br
					textarea.g-textarea-1(name='text')

				.row
					label Checkbox
					br
					.field-group
						span 1
						input(type="checkbox", name="checkbox-1", value="1")

						span 2
						input(type="checkbox", name="checkbox-2", value="2")

				.row
					label Radiobutton
					br
					.field-group
						span 1
						input(type="radio", name="radiobutton", value="1")
						
						span 2	
						input(type="radio", name="radiobutton", value="2")

				.row
					label Dropdown
					br
					select.g-select-1(name="dropdown")
						option - Выбрать -
						option(value="1") Опция 1
						option(value="2") Опция 2