extends layout

block content

	section#index

		// index js
		:coffeescript

			$ ->

				index = app.views['index']
				index.controller()

		/// index js

		.container
			.content
				h1 CONTENT
				p section#index
					