doctype 5
head

	include head

body

	script(src='http://vkontakte.ru/js/api/openapi.js', type='text/javascript')
	#fb-root
	script(src='http://connect.facebook.net/en_US/all.js')

	.background

		include header

		.sections

			block content

		include footer

	include popups
