#popups
	
	.popup(data-popup-name="custom")
		.close(data-popup-close)
		.header: h1
		.body
		.footer
			button(data-popup-close)
				span закрыть

	.popup(data-popup-name="unique")
		.close(data-popup-close)
		.header
			h1 unique
		.body
			p popup
		.footer
			button(data-popup-button)
				span закрыть

	.background(data-popup-close)