#popup

	#popup_custom.pop

		.popup_close(data-popup-close='data-popup-close')

		.header
			h1
		.body
		.footer: input.darksalmon(data-popup-button='data-popup-button', type='button', value='Закрыть')


	#popup_login.pop

		.popup_close(data-popup-close='data-popup-close')
	
		h1 Авторизация
		p Войти через социальную сеть
		a(href="/login/odnoklassniki")
			//-img(src="site/img/ok_big.jpg", alt="")
		a(href="/login/vk-oauth")
			//-img(src="site/img/vk_big.jpg", alt="")
		a(href="/login/facebook")
			//-img(src="site/img/fb_big.jpg", alt="")

#backgroundPopup(data-popup-close)