
/* _________ GLOBAL ________*/

.g-clearfix
	clearfix()

.g-hide
	hide()

.g-vhide
	hide(true)

.g-show
	show()

.g-vshow
	show(true)

.g-block-center
	block-center()

.g-block-inline
	block-inline()

.g-block-left
	block-left()

.g-block-right
	block-right()

.g-center 
	center()

.g-left
	box-left()

.g-right
	box-right()

.g-row
	clearfix()
	block-inline()
	width 100%
	margin 10px 0