/* 
	===================
	==== GUIDELINE ====
	===================

	(!) Все глобальные классы начинаются с префикса g
	
*/


/* _________ КОНСТАНТЫ _________ */


$color-graydarker 	= lighten(#000, 13.5%)
$color-graydark 		= lighten(#000, 20%)
$color-gray 			= lighten(#000, 33.5%)
$color-graylight 		= lighten(#000, 60%)
$color-graylighter 	= lighten(#000, 80%)


/* _________ ЦВЕТА _________ */

.g-bg-color-graydarker
	background-color $color-graydarker
.g-bg-color-graydark
	background-color $color-graydark 
.g-bg-color-gray
	background-color $color-gray 
.g-bg-color-graylight
	background-color $color-graylight 
.g-bg-color-graylighter
	background-color $color-graylighter

.g-color-graydarker
	color $color-graydarker
.g-color-graydark
	color $color-graydark 
.g-color-gray
	color $color-gray 
.g-color-graylight
	color $color-graylight 
.g-color-graylighter
	color $color-graylighter


/* _________ АБЗАЦЫ _________ */

p
	font 16px $mainFont
	
/* _________ ЗАГОЛОВКИ _________ */

h1
	font 36px $mainFont
h2
	font 30px $mainFont
h3
	font 24px $mainFont
h4
	font 18px $mainFont
h5
	font 14px $mainFont
h6
	font 12px $mainFont

/* _________ СПИСКИ _________*/

ul
	list-style-type none


/* _________ ССЫЛКИ _________ */

// Mixin ССЫЛКИ
g_link()
	text-decoration none
	transition all 0.2s

a
	g_link()

.g-link-1
	g_link()
	color $color-graydark
	&:hover
		border-bottom 1px solid $color-graydark

.g-link-2
	g_link()
	color $color-graydark
	border-bottom 1px solid $color-graydark
	&:hover
		border-bottom 0


/* _________ КНОПКИ  _________ */

// Mixin КНОПКИ
g_btn(w = false,h = false)
	if w
		width (w)px
	if h
		height (h)px

	display block
	position relative
	cursor pointer
	text-align center
	border 0
	outline none
	text-decoration none
	transition all 0.2s

.g-btn-1
	font 18px $mainFont
	g_btn(200,50)
	border-radius(10px)
	text-transform uppercase
	color #FFF
	background $color-gray
	&:hover
		background $color-graylight
	span
		position relative
		top 15px

.g-btn-2
	font 18px $mainFont
	g_btn(200,50)
	border-radius(10px)
	text-transform uppercase
	color #FFF
	background $color-graydark
	&:hover
		background $color-graylight
	span
		position relative
		top 15px

.g-btn-3
	font 18px $mainFont
	g_btn(350,50)
	border-radius(10px)
	text-transform uppercase
	color #FFF
	background $color-graydarker
	&:hover
		background $color-graylight
	span
		position relative
		top 15px


/* _________ ФОРМЫ  _________ */

input:focus, textarea:focus, select:focus
	outline none

.g-input-1
	border-radius(5px)
	border 1px solid $color-graylighter
	size 300 - 10*2 - 1*2, 35 - 5*2 - 1*2
	padding 5px 10px
	font 16px $mainFont

	&:focus
		border 1px solid $color-gray

	&.error-field
		border 1px solid #F00



.g-textarea-1
	border-radius(5px)
	border 1px solid $color-graylighter
	size 300 - 10*2 - 1*2, 100 - 10*2 - 1*2
	padding 10px 10px
	font 16px $mainFont

	&:focus
		border 1px solid $color-gray

	&.error-field
		border 1px solid #F00

.g-select-1
	border-radius(5px)
	size 300, 35
	font 16px $mainFont

	&:focus
		border 1px solid $color-gray

	&.error-field
		border 1px solid #F00

.g-checkbox-1
	size 25 25


.g-radio-1
	size 25 25
