
// MIXins

vendor(prop, args)
	-webkit-{prop} args
	   -moz-{prop} args
	    -ms-{prop} args
	     -o-{prop} args
	        {prop} args

border-radius()
	vendor('border-radius', arguments)

filter()
	vendor('filter', arguments)

box-shadow()
	vendor('box-shadow', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

transform-origin()
	vendor('transform-origin', arguments)

user-select()
	vendor('user-select', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
		background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)


block(w = false,h = false)
	display block
	if w
		width w
	if h
		height h
	
block-inline(w = false,h = false)
	display -moz-inline-stack
	display inline-block
	vertical-align top
	zoom 1
	*display inline
	if w
		width w
	if h
		height h

block-left(w = false,h = false)
	float left
	block-inline()
	if w
		width w
	if h
		height h

block-right(w = false,h = false)
	float right
	block-inline()
	if w
		width w
	if h
		height h

// FONTS

// @font-face {
//   font-family: 'CompProRegular';
//   src: url('../fonts/pfdintextcomppro-regular.eot');
//   src: url('../fonts/pfdintextcomppro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextcomppro-regular.svg') format('svg'), url('../fonts/pfdintextcomppro-regular.woff') format('woff'), url('../fonts/pfdintextcomppro-regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }


// MAIN CONSTANTS

$mainWidth 		= 1265
$mainHeight 	= 1000
$mainFont 		= 'Arial'

// COLORS

$red		= #ee2e24
$redHover= #db2920
$gray		= #ccc

/* STYLES FOR ALL */ //REMOVE THIS

h1 
	font-size 24px
	color #736B68
p  //REMOVE THIS
	margin 5px 0
	color #736B68

textarea, input
	font-family $mainFont
	font-size 20px

textarea:focus, input:focus
	//

/* STYLES - HELPERS */

.hide 
	display none

.btn
	cursor pointer
	font 20px $mainFont
	text-transform uppercase
	padding 5px 10px
	border 0
	outline none
	block-inline()
	color #FFF
	text-decoration none

	transition(all 0.3s)

	&.btn-red
		background $red
		&:hover
			background $redHover


/* STYLES - MAIN */

html
	height 100%

body
	height 100%
	overflow-x hidden
	overflow-y auto
	font-family $mainFont
	
	/* Самый задний фон */

	background-color #0A1018

	// background-repeat no-repeat
	// background-position top center
	// background-attachment fixed

	// -webkit-background-size cover
	// -moz-background-size cover
	// -o-background-size cover
	// background-size cover

	//background-image url('../img/body_bg.jpg')

		
/* Фон с изображением */

body > main
	
	position relative
	min-height 100%
	width 100%
	
	background-image url('../img/bg.jpg')
	background-repeat repeat-x

	// background-position top center
	// background-attachment fixed

	// -webkit-background-size cover
	// -moz-background-size cover
	// -o-background-size cover
	// background-size cover

	// &.bg
	// 	background-image url('../img/bg.jpg')

/* HEADER */
body > main > header
	z-index 2
	width 100%
	height 40px

	background #736B68

	&.fixed
		position fixed
		top 0

	.container
		width  ($mainWidth)px
		height (40 - 12*2)px
		padding 12px 0
		margin 0 auto

		background #C1B0A3

		.content
			padding 0 5px
			block-inline()
			width  ($mainWidth - 5*2)px

			nav#menu
				block-right()
				text-transform uppercase
				font-weight bold
				a 
					text-decoration none
					block-inline()
					position relative
					color #FFF

				ul
					list-style-type none
					float left
					padding 0
					li
						float left
						margin 0 50px 0 0
						&:last-child
							margin 0

			.logo
				block-left()
				margin-top -6px


/* FOOTER */
body > main > footer
	position absolute
	bottom 0
	z-index 2
	width 100%
	height 40px

	background #736B68

	&.fixed
		position fixed
		bottom 0

	.container
		width  ($mainWidth)px
		height (40 - 7*2)px
		padding 7px 0
		margin 0 auto

		background #C1B0A3

		.content
			padding 0 5px
			block-inline()


/* SECTIONS */
body > main > .sections

	clear both
	width 100%
	padding-bottom 40px // Height of the footer

	// Для всех секций!
	> section

		clear both
		position relative
		z-index 1
		width 100%
		block-inline()

		.container
			position relative
			width  ($mainWidth)px
			height 100%
			margin 0 auto

			background #F2E5D5

			.content
				block-inline()


/* -------------------- Let's go -------------------- */

section#index
	.container
		.content
			padding 10px 5px
			width ($mainWidth - 5*2)px

//TUTORIALS (REMOVE THIS)

section#test-render
	.content
		block(100%,130px)
		border 1px solid rgb(193, 176, 163)
		h1
			padding 50px 0

section#grid-2
	.content
		padding 10px 5px
		width ($mainWidth - 5*2)px
		article
			
			gridcolcount = 2 // кол-во колонок

			gridmargincount = gridcolcount - 1 // кол-во отступов между колонок
			gridmarginbetween = 5 // отступ в px между колонками
			contentWidth = $mainWidth - 5*2 // внутренняя ширина блока-контейнера

			block-left()
			position relative
			margin-top 5px
			margin-right (gridmarginbetween)px
			width ( (contentWidth - gridmarginbetween*gridmargincount)/gridcolcount )px
			height 150px
			background #CCC
			&.last-col // Стиль для последней колонки в ряду
				margin-right 0

section#grid-3
	.content
		padding 10px 5px
		width ($mainWidth - 5*2)px
		article
			
			gridcolcount = 3 // кол-во колонок

			gridmargincount = gridcolcount - 1 // кол-во отступов между колонок
			gridmarginbetween = 5 // отступ в px между колонками
			contentWidth = $mainWidth - 5*2 // внутренняя ширина блока-контейнера

			block-left()
			position relative
			margin-top 5px
			margin-right (gridmarginbetween)px
			width ( (contentWidth - gridmarginbetween*gridmargincount)/gridcolcount )px
			height 150px
			background #CCC
			&.last-col // Стиль для последней колонки в ряду
				margin-right 0


section#grid-6
	.content
		padding 10px 5px
		width ($mainWidth - 5*2)px
		article

			gridcolcount = 6 // кол-во колонок

			gridmargincount = gridcolcount - 1 // кол-во отступов между колонок
			gridmarginbetween = 5 // отступ в px между колонками
			contentWidth = $mainWidth - 5*2 // внутренняя ширина блока-контейнера

			block-left()
			position relative
			margin-top 5px
			margin-right (gridmarginbetween)px
			width ( (contentWidth - gridmarginbetween*gridmargincount)/gridcolcount )px
			height 150px
			background #CCC
			&.last-col // Стиль для последней колонки в ряду
				margin-right 0



					


/* -------------------- MEDIA -------------------- */

@media (max-height: 768px)
	
	#debugBox .mediaHeight:after
		content '@media(max-height: 768px)'