
/* MIXins */

vendor(prop, args)
	-webkit-{prop} args
	   -moz-{prop} args
	    -ms-{prop} args
	     -o-{prop} args
	        {prop} args

border-radius()
	vendor('border-radius', arguments)

filter()
	vendor('filter', arguments)

box-shadow()
	vendor('box-shadow', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

transform-origin()
	vendor('transform-origin', arguments)

user-select()
	vendor('user-select', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
		background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)


/* FONTS */

// @font-face {
//   font-family: 'CompProRegular';
//   src: url('../fonts/pfdintextcomppro-regular.eot');
//   src: url('../fonts/pfdintextcomppro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextcomppro-regular.svg') format('svg'), url('../fonts/pfdintextcomppro-regular.woff') format('woff'), url('../fonts/pfdintextcomppro-regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }


/* MAIN CONSTANTS */

$mainWidth 		= 1265
$mainHeight 	= 1000
$mainFont 		= 'Arial'

// COLORS

$black 	= #000
$white	= #FFFFFF
$red		= #ee2e24
$redHover= #db2920
$gray		= #ccc

/* MAIN STYLES */

textarea, input
	font-family $mainFont
	font-size 20px

textarea:focus, input:focus
	//

/* HELPERS STYLES */

.hide 
	display none

.btn
	cursor pointer
	font 20px $mainFont
	text-transform uppercase
	padding 5px 10px
	border 0
	outline none
	display inline-block
	color $white
	text-decoration none

	transition(all 0.3s)

	&.btn-red
		background $red
		&:hover
			background $redHover


/* STYLES */

body

	overflow-x hidden
	overflow-y auto
	font-family $mainFont

	/* Самый задний фон */

	background-color #0A1018

	// background-repeat no-repeat
	// background-position top center
	// background-attachment fixed

	// -webkit-background-size cover
	// -moz-background-size cover
	// -o-background-size cover
	// background-size cover

	//background-image url('../img/body_bg.jpg')

		
/* Фон с изображением */

body > main

	height 100%
	width 100%
	
	background-image url('../img/bg.jpg')

	background-repeat repeat-x

	// background-position top center
	// background-attachment fixed

	// -webkit-background-size cover
	// -moz-background-size cover
	// -o-background-size cover
	// background-size cover

	// &.bg
	// 	background-image url('../img/bg.jpg')

/* HEADER */
body > main > header
	z-index 3
	width 100%
	height 40px

	background #736B68

	&.fixed
		position fixed
		top 0

	.container
		width  ($mainWidth)px
		height (40 - 12*2)px
		padding 12px 0
		margin 0 auto

		background #C1B0A3

		.content
			padding 0 5px


	nav#menu
		
		text-transform uppercase
		font-weight bold
		float none
		a 
			text-decoration none
			display inline-block
			position relative

			color #FFF

		ul
			list-style-type none
			float left
			padding 0
			li
				float left
				margin 0 50px 0 0
				&:last-child
					margin 0

/* FOOTER */
body > main > footer
	position relative
	z-index 3
	width 100%
	height 40px

	background #736B68

	&.fixed
		position fixed
		bottom 0

	.container
		width  ($mainWidth)px
		height (40 - 12*2)px
		padding 12px 0
		margin 0 auto

		background #C1B0A3

		.content
			padding 0 5px

			//REMOVE THIS
			h1
				font-weight bold
				color #FFF


/* CONTENT */
body > main > .sections

	clear both
	width 100%

	/* Для всех секций! */
	> section

		clear both
		position relative
		z-index 3
		width 100%
		display inline-block

		.container
			position relative
			width  ($mainWidth)px
			height 100%
			margin 0 auto

			background #F2E5D5

			.content
				padding 10px 5px	

				//REMOVE THIS
				h1
					font-size 24px
					color #736B68
				p 
					margin 5px 0
					color #736B68

	// с фиксированной высотой
	section#index
		.container
			min-height 450px
			.content
				//

	// обычная секция
	section#index-2
		.container
			.content
				//


/* MEDIA */
@media (max-height: 768px)
	
	#debugBox .mediaHeight:after
		content '@media(max-height: 768px)'