
/* _________ HEIGHT ________*/

@media (max-height: 768px)
	
	#debugBox .mediaHeight:after
		content '@media(max-height: 768px)'

/* _________ WIDTH ________*/

// Extra small devices
// Phones (<768px)

@media (max-width: 767px)

	#debugBox .mediaWidth:after
		content '@media(max-width: 767px)'

// Small devices
// Tablets (≥768px)

@media (min-width: 768px) and (max-width: 991px)

	#debugBox .mediaWidth:after
		content '@media(min-width: 768px) and (max-width: 991px)'

// Medium devices
// Desktops (≥992px)

@media (min-width: 992px) and (max-width: 1199px)
	
	#debugBox .mediaWidth:after
		content '@media(min-width: 992px) and (max-width: 1199px)'

// Large devices
// Desktops (≥1200px)

@media (min-width: 1200px)

	#debugBox .mediaWidth:after
		content '@media(min-width: 1200px)'
