

// iPhone (portrait)
@media (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)
	#debugBox .mediaWidth:after
		content '@media(min-width: 320px) and (max-width: 480px)'

	body > main
		> header
			height 60px
		.sections
			> section
				.container
					.content
						padding 80px 20px

// iPhone (landscape)
@media (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape)
	#debugBox .mediaWidth:after
		content '@media(min-width: 320px) and (max-width: 480px)'


// iPad (portrait)
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
	#debugBox .mediaWidth:after
		content '@media(min-width: 768px) and (max-width: 1024px)'


// iPad (landscape)
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
	#debugBox .mediaWidth:after
		content '@media(min-width: 768px) and (max-width: 1024px)'





