meta(name='viewport' content='width=1265')

meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

//SEO
title dev
meta(name='description' content='')
meta(name='keywords' content='')

// Open Graph
meta(property='og:title' content='')
meta(property='og:url' content='')
meta(property='og:image' content='')
meta(property='og:description' content='')

//favicon
link(rel='image_src' href='')
link(rel="shortcut icon" type="image/x-icon" href="")

//IE
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="imagetoolbar" content="no"/>
<meta http-equiv="MSThemeCompatible" content="no"/>
<![endif]-->

<!--[if lt IE 7]>
style.
	body > main {
		height: 100%;
	}
<![endif]-->
			
<!--[if lt IE 9]>
script(type='text/javascript' src='../js/libs/html5shiv.js')
<![endif]-->

//Apple
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

//JS helpers 
script(type='text/javascript' src='../../static/js/libs/helpers.js')

//Include JS/CSS
script.

	console.debug('dev');
	
	$$.includeJS('../../static/js/libs/jquery-1.10.2.min.js');
	$$.includeJS('../../static/js/libs/jquery-ui-1.10.3.custom.js');
	$$.includeJS('../../static/js/libs/jquery.tinyscrollbar.js');
	$$.includeJS('../../static/js/libs/jquery.cookie.js');

	$$.includeJS('../../static/js/libs/mustache.js');
	$$.includeJS('../../static/js/libs/underscore-min.js');
	$$.includeJS('../../static/js/libs/json2.js');
	$$.includeJS('../../static/js/libs/backbone.router.js');
	
	$$.includeJS('../../static/js/libs/popup.js');

	$$.includeJS('js/classie.js');

	$$.includeCSS('css/app.css');
	
	$$.includeJS('js/prettify.js');
	$$.includeJS('js/lang-css.js');
	$$.includeCSS('css/sons-of-obsidian.css');


	$$.includeJS('js/app.models.js');
	$$.includeJS('js/app.views.js');
	$$.includeJS('js/app.router.js');

	$$.includeJS('../../static/js/app.js');

//App initialization!
script.

	window.app = new App({
		name: "Frontend dev",
		hashNavigate: false,
		root: "",
		box: true
	});


block css
	//-

block js
	//-


